@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body, html {
  background-color: #000;
  height: 100%;
  margin: 0;
}

.main-canvas {
  width: auto;
  height: 100%;
}

.about-canvas {
  width: auto;
  height: 100%;
}

.footer {
  text-align: center;
  color: #fff;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-title {
  font-size: 300%;
  font-family: "Poiret One";
  text-align: center;
  color: #fff;  
}

@media (max-width: 476px){
  #hero-title {
    font-size: 150%;
    font-family: "Poiret One";
    text-align: center
  }
  .footer {
    padding: 5px;
}
}

